<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link rel="stylesheet" href="/styles/styes-1.css" />
      <title>Add new books</title>
   </head>
   <body>
      <header>
         <h1>Add New Books</h1>
      </header>
      <section>
         <form action="/seller/<%=sellerId%>/newbooks" method="post">
            <label for="bookname">Book Name:</label>
            <input type="text" id="bookname" name="BOOKNAME" />

            <label for="authorname">Author Name:</label>
            <input type="text" id="authorname" name="AUTHOR" />

            <label for="booksummary">Short Summary:</label>
            <input type="text" id="booksummary" name="SUMMARY" />

            <label for="category">Category:</label>
            <input type="text" id="category" name="CATEGORY" />

            <label for="pages">Pages:</label>
            <input type="number" id="pages" name="PAGES" />

            <label for="price">Price(Taka):</label>
            <input type="number" id="pages" name="PRICE" />

            <button type="submit">Add to store</button>
         </form>
         <p><%=message%></p>
      </section>
   </body>
</html>
