<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Document</title>
      <link rel="stylesheet" href="/styles/customer.css" />
   </head>

   <body>
      <nav>
         <div class="wrapper">
            <div class="logo">BOOKPANDA</div>
            <ul class="nav-link">
               <li>
                  <a href=""><img src="../img/user-regular.svg" alt="user" /></a>
               </li>
               <li>
                  <a href=""
                     ><img src="../img/magnifying-glass-solid.svg" alt="search"
                  /></a>
                  <div class="mega-box">
                     <div class="content">
                        <div class="row">
                           <ul class="mega-link">
                              <li>
                                 <div class="container">
                                    <form action="" class="frm">
                                       <input
                                          type="text"
                                          placeholder="AUTHOR , BOOK NAME , TYPE"
                                       />
                                       <button type="submit">SEARCH</button>
                                    </form>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </li>
            </ul>
         </div>
      </nav>
      <div class="box">
         <form action="#" class="frm2">
            <div class="retailer">
               <h1>ROKOMARI</h1>
               <p>Address :</p>
               <div class="btn-box">
                  <button type="button" class="list">VIEW BOOK LIST</button>
                  <button type="button" class="list">ADD LATER</button>
               </div>
            </div>
         </form>
      </div>
   </body>
</html>
